<!DOCTYPE html>
<html>
<body>

<form action="" method="post" enctype = "multipart/form-data">
  Animal:<br>
  <input type="text" name="animal" value="text here">
  <br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>
